prv/*
deploy/*
cnf/*
setenv.*
.env

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Jenv
.java-version

# Eclipse
.settings/
.classpath
.project

# IntelliJ IDEA
.idea
*.iml

# Visual Studio Code
.factorypath

# Branch switching
generated/
linked_DigitalMarketsAct_API_ACCOUNT_HISTORY.json
linked_DigitalMarketsAct_API_ACTOR_SAVE_ITEM.json
linked_DigitalMarketsAct_API_AD_TARGETING.json
linked_DigitalMarketsAct_API_ADS_CLICKED.json
linked_DigitalMarketsAct_API_ALL_COMMENTS.json
linked_DigitalMarketsAct_API_ALL_LIKES.json
linked_DigitalMarketsAct_API_ALL_VOTES.json
linked_DigitalMarketsAct_API_ARTICLES.json
linked_DigitalMarketsAct_API_CALENDAR.json
linked_DigitalMarketsAct_API_CAUSES_YOU_CARE_ABOUT.json
linked_DigitalMarketsAct_API_CERTIFICATIONS.json
linked_DigitalMarketsAct_API_COMPANY_FOLLOWS.json
linked_DigitalMarketsAct_API_CONNECTIONS.json
linked_DigitalMarketsAct_API_CONTACTS.json
linked_DigitalMarketsAct_API_COURSES.json
linked_DigitalMarketsAct_API_EDUCATION.json
linked_DigitalMarketsAct_API_EMAIL_ADDRESSES.json
linked_DigitalMarketsAct_API_ENDORSEMENTS.json
linked_DigitalMarketsAct_API_EVENTS.json
linked_DigitalMarketsAct_API_GROUPS.json
linked_DigitalMarketsAct_API_HONORS.json
linked_DigitalMarketsAct_API_INBOX.json
linked_DigitalMarketsAct_API_INFERENCE_TAKEOUT.json
linked_DigitalMarketsAct_API_INSTANT_REPOSTS.json
linked_DigitalMarketsAct_API_INVITATIONS.json
linked_DigitalMarketsAct_API_JOB_APPLICANT_SAVED_ANSWERS.json
linked_DigitalMarketsAct_API_JOB_APPLICATIONS.json
linked_DigitalMarketsAct_API_JOB_POSTINGS.json
linked_DigitalMarketsAct_API_JOB_SEEKER_PREFERENCES.json
linked_DigitalMarketsAct_API_LANGUAGES.json
linked_DigitalMarketsAct_API_LEARNING_COACH_AI_TAKEOUT.json
linked_DigitalMarketsAct_API_LEARNING_COACH_INBOX.json
linked_DigitalMarketsAct_API_LEARNING_ROLEPLAY_INBOX.json
linked_DigitalMarketsAct_API_LEARNING.json
linked_DigitalMarketsAct_API_LOGIN.json
linked_DigitalMarketsAct_API_MARKETPLACE_ENGAGEMENTS.json
linked_DigitalMarketsAct_API_MARKETPLACE_OPPORTUNITIES.json
linked_DigitalMarketsAct_API_MARKETPLACE_PROVIDERS.json
linked_DigitalMarketsAct_API_MEMBER_FOLLOWING.json
linked_DigitalMarketsAct_API_MEMBER_SHARE_INFO.json
linked_DigitalMarketsAct_API_ORGANIZATIONS.json
linked_DigitalMarketsAct_API_PATENTS.json
linked_DigitalMarketsAct_API_PHONE_NUMBERS.json
linked_DigitalMarketsAct_API_POSITIONS.json
linked_DigitalMarketsAct_API_PROFILE_SUMMARY.json
linked_DigitalMarketsAct_API_PROFILE.json
linked_DigitalMarketsAct_API_PROJECTS.json
linked_DigitalMarketsAct_API_PUBLICATIONS.json
linked_DigitalMarketsAct_API_RECEIPTS_LBP.json
linked_DigitalMarketsAct_API_RECEIPTS.json
linked_DigitalMarketsAct_API_RECOMMENDATIONS.json
linked_DigitalMarketsAct_API_REGISTRATION.json
linked_DigitalMarketsAct_API_REVIEWS.json
linked_DigitalMarketsAct_API_RICH_MEDIA.json
linked_DigitalMarketsAct_API_SAVED_JOB_ALERTS.json
linked_DigitalMarketsAct_API_SAVED_JOBS.json
linked_DigitalMarketsAct_API_SEARCHES.json
linked_DigitalMarketsAct_API_SECURITY_CHALLENGE_PIPE.json
linked_DigitalMarketsAct_API_SKILLS.json
linked_DigitalMarketsAct_API_TALENT_QUESTION_SAVED_RESPONSE.json
linked_DigitalMarketsAct_API_TEST_SCORES.json
linked_DigitalMarketsAct_API_TRUSTED_GRAPH.json
linked_DigitalMarketsAct_API_VOLUNTEERING_EXPERIENCES.json
